html {
  font-family: 'Roboto', sans-serif;
}

body {
  padding-top: 58px;
  background-color: rgb(252,247,243)!important;
}

.h-active:after{
	content: "";
	display: block;
	border-bottom: 2px solid white;
}

.h-passive:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    width: 0%; /* Change this to whatever width you want to have before hover. */
    border-bottom: 2px solid white; /* This creates the border. Replace black with whatever color you want. */
    transition: .5s; /* This establishes the amount of time in seconds the animation should take from start to finish */
}

.h-passive:hover:after {
    width: 100%; /* This will be the new width of your border when on hover */
}

/* JUDUL SETIAP SECTION */
.title {
  text-align: center;
}

.title::before {
  content: '';
  background-color: rgb(72,149,119);
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(49px);
}

.title::after {
  content: '';
  background-color: rgb(72,149,119);
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}

.img-poster {
  width:100%;
}

/* SECTION JADWAL KEBERANGKATAN */
.jadwal {
  background-color: rgb(240,230,222);
  text-align: center;
}

ul.pagination {
  justify-content: center!important;
}

.pagination .page-item.active .page-link {
  background-color: #fff;
  color: gray;
}

.pagination .page-item .page-link {
  background-color: Gainsboro;
  color: Gray;
}

.pagination .previous.disabled .page-link {
  background-color: #fff;
  color: Gray;
}

.pagination .previous .page-link {
  background-color: #fff;
  color: Green;
}

.pagination .next .page-link {
  background-color: #fff;
  color: Green;
}

.page-item.active .page-link {
  border-color: Green;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus {
  background-color: #fff;
  color: gray;
}

#table-jadwal {
  background-color: #fff;
  width: 100%;
}

#table-jadwal thead{
  background-color:rgb(72,149,119);color:white;
}

#table-jadwal tbody tr td button {
  background-color: rgb(252,189,120);
  border-radius: 90px;
}

tr, th {
  padding: 10px 0!important;
}

td {
  padding: 10px 0!important;
  vertical-align: middle!important;
}

/*SECTION USTADZ PEMBIMBING*/
.pembimbing-img-holder{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: rgb(252,247,243);
	position: absolute;
	z-index: 10;
  	left: 50%;
  	top: 35%;
  	transform: translate(-50%, -50%);
}
.pembimbing-img{
	max-width: 175px;
	max-height: 175px;
	border-radius: 50%;
	z-index: 10;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.pembimbing-card{
	height:100%;
	width: 100%;
	background-color: rgb(252,247,243);
	position: absolute;
  	left: 50%;
  	top: 85%;
  	transform: translate(-50%, -50%);
}
.pembimbing-container{
	height: 300px;
	width: 250px;
}
.pembimbing-text{
	background-color: rgb(252,247,243);
	position: absolute;
	color: black;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* SECTION SYARAT PENDAFTARAN */
.syarat {
  color:rgb(72,149,119);
  display: inline-block;
}

/* SECTION TESTIMONIAL */
.testimonial {
  border-left: 4px solid rgb(72,149,119);
  margin: 25px 0;
}

.testimonial img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 10px;
}

.user-details {
  display: inline-block;
  font-size: 12px;
}
